
# Created by https://www.toptal.com/developers/gitignore/api/windows,jupyternotebooks,microsoftoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=windows,jupyternotebooks,microsoftoffice

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# python cache (created by imports executed in notebooks)
__pycache__
*/__pycache__/*
cleanse/__pycache__/unesco_cleanser.cpython-37.pyc

# Debug file used for temporary debugging
debug_file.py

# Gecko driver log file
*.log

# exclude all archive folders
z_archive
data/*/z_archive

# Exclude all data output by the ETL script
data_out/
data/* # this is legacy, because the data folder has been renamed to data_out


# exclude folder created by visual studio 2019
.vs/

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows,jupyternotebooks,microsoftoffice
data/data_normalized/S_101_normalized.xlsx
data/data_normalized/S_101_normalized.xlsx
data/data_raw/S-155, S-156 nrgi_data.csv
data/data_raw/S-166 Registering Property.xlsx
data/data_raw/S-167 Pct_IP_CommunityLands.zip
data/data_raw/S-189 idmc_displacement_all_dataset.xlsx
data/data_raw/S-3-Ratifications_20200828165211.xls
data/data_raw/S-37, S-38, S-39.xlsx
data/data_raw/S-49 WORLD_Dataset_Poverty_3.9.15_0/WORLD Poverty Public Use Data Dictionary.pdf
data/data_raw/S-49 WORLD_Dataset_Poverty_3.9.15_0/WORLD_Dataset_Poverty_3.9.15.dta
data/data_raw/S-49 WORLD_Dataset_Poverty_3.9.15_0/WORLD_Dataset_Poverty_3.9.15.xls
data/data_raw/S-59-Ratifications_20200828165032.xls
data/data_raw/S-59-Ratifications_20200828165128.xls
data/data_raw/S-59-Ratifications_20200828165147.xls
data/data_raw/S_10, S_13, S_36, S_45/Childhood Public Use Data Dictionary_4.16.15.pdf
data/data_raw/S_10, S_13, S_36, S_45/WORLD_Dataset_Childhood_4.16.15.dta
data/data_raw/S_10, S_13, S_36, S_45/WORLD_Dataset_Childhood_4.16.15.xls
data/data_raw/S_10, S_13, S_36, S_45/WORLD_Dataset_Childhood_4.16.15.zip
data/data_raw/S_40, S_41, S_63, S_64, S_65, S_66/WORLD Adult Labor Public Use Data Dictionary_9.17.2018.pdf
data/data_raw/S_40, S_41, S_63, S_64, S_65, S_66/WORLD_Dataset_Adult_Labor_9.17.2018.dta
data/data_raw/S_40, S_41, S_63, S_64, S_65, S_66/WORLD_Dataset_Adult_Labor_9.17.2018.xls
data/data_raw/S_40, S_41, S_63, S_64, S_65, S_66/WORLD_Dataset_Adult_Labor_9.17.2018_0.zip
data/data_raw/S_42, S_43, S_44/Workplace Discrimination Public Use Data Dictionary_13July20.pdf
data/data_raw/S_42, S_43, S_44/WORLD_Dataset_Discrimination_at_Work_14July20_2.zip
data/data_raw/S_42, S_43, S_44/WORLD_discrimination_at_work.dta
data/data_raw/S_42, S_43, S_44/WORLD_discrimination_at_work.xls
data/data_raw/S_8, S_9/All WOrld Policy Analysis Centre Data Catalogues.pdf
data/data_raw/S_8, S_9/Child Labor Public Use Data Dictionary 10.28.19.pdf
data/data_raw/S_8, S_9/WORLD_child_labor.dta
data/data_raw/S_8, S_9/WORLD_child_labor.xls
data/data_raw/S_8, S_9/WORLD_Dataset_Child_Labor_10.28.19.zip
